<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8" >
    <title>系统首页</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-bg-green layui-layout-admin">
    <div class="layui-header layui-bg-green">
        <div class="layui-logo layui-bg-green">供应链管理系统</div>
        <ul class="layui-nav layui-layout-left layui-ygyd-menu" style="position:absolute; left:250px;">
            <li class="layui-nav-item">您拥有的角色：</li>
            <li class="layui-nav-item">
                <span sec:authentication="principal.authorities"></span>
            </li>
        </ul>
        <ul class="layui-nav layui-bg-green layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    欢迎您，[[${userName}]]
                </a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/logout}">退出</a>
            </li>
        </ul>
    </div>
    <div class="layui-side layui-bg-green layui-bg-black">
        <div class="layui-side-scroll layui-bg-green">

            <ul class="layui-nav layui-nav-tree layui-bg-green"   lay-filter="test">
                <!--<li class="layui-nav-item " th:each="menu:${menus}">
                    <a href="javascript:;" th:text="${menu.menuName}">人事管理</a>

                    <dl class="layui-nav-child" th:each="son:${menu.sonList}">
                        <dd><a href="javascript:;" class="funinfo" th:url="${son.menuUrl}" th:text="${son.menuName}">部门管理</a></dd>
                    </dl>
                </li>-->
                <li class="layui-nav-item " >
                    <a href="javascript:;">财务管理</a>

                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="funinfo" url="/jumpController/selectAllDAP">采购审批详情</a></dd>
                    </dl>
                    <dl class="layui-nav-child" >
                        <dd><a href="javascript:;" class="funinfo" url="">销售审批详情</a></dd>
                    </dl>
                    <dl class="layui-nav-child" >
                        <dd><a href="javascript:;" class="funinfo" url="">采购出帐详情</a></dd>
                    </dl>
                    <dl class="layui-nav-child" >
                        <dd><a href="javascript:;" class="funinfo" url="">销售入账详情</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item " >
                    <a href="javascript:;">图书管理</a>

                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" class="funinfo" url="">类别管理</a></dd>
                    </dl>
                    <dl class="layui-nav-child" >
                        <dd><a href="javascript:;" class="funinfo" url="books">图书管理</a></dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <iframe id="main" th:src="@{/test}" style="width:100%;height:99%;border:none;margin: 5px 0px 0px 5px">

        </iframe>
    </div>

</div>

<script th:inline="javascript">

    var ctx = [[${#httpServletRequest.getContextPath()}]];

    layui.use('element', function(){
        var element = layui.element;

    });
    $(".funinfo").click(function () {
        var url=$(this).attr("url");
        console.log(ctx+url);
        $("#main").attr("src",ctx+url);
    })
</script>

</body>
</html>