<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}"/>

</head>
<body>
<!--条件筛选-->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>查询条件</legend>
</fieldset>
<div th:replace="bpi_search::search"></div>

<table lay-even class="layui-table" id="demo" lay-filter="demo">

</table>

<!--每行的操作-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="detail">查看</a>
</script>
<div th:replace="poDetail::detail_common"></div>

</body>
</html>
<script>
    layui.use(['table','jquery','layer','form','laydate'],function(){
        var $ = layui.jquery;
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        //初始化日期控件
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#createDate' //指定元素
            ,type: 'datetime'
        });

        var layerId; //用来保存弹出层的id

        //渲染表格
        var tableIndex = table.render({
            elem: '#demo'
            ,id:'demo'
            ,height: 312
            ,url: '[[@{/bankInfoController/selectAllBPI}]]'//数据接口
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "count": res.total, //解析数据长度
                    "data": res.data //解析数据列表
                };
            }
            ,toolbar:'#headBar'
            ,text:{none:'暂无相关数据'}
            ,page: true //开启分页
            ,limit:1
            ,limits:[3,6,9,12,15,18]
            ,cols: [
                [
                    {type:'checkbox'}
                    ,{field:'id', title:'编号', width:200}
                    ,{field:'changedate', title:'转账日期', width:215}
                    ,{field:'remarks', title:'备注', width:350}
                    ,{field:'abd', title:'账户名称', width:200,
                        templet:"<div>{{d.abd.openingBank}}</div>"
                    },{field:'abd', title:'卡号', width:200,
                    templet:"<div>{{d.abd.accountNumber}}</div>"
                    },{field:'abd', title:'账户总资产', width:200,
                        templet:"<div>{{d.abd.property}}</div>"
                    },{field:'adapd', title:'采购审核人', width:250,
                        templet:"<div>{{d.adapd.who}}</div>"
                    },{field:'adapd', title:'审核日期', width:250,
                        templet:"<div>{{d.adapd.makeDate}}</div>"
                    },{field:'adapd', title:'采购订单号', width:250,
                        templet:"<div>{{d.adapd.poid}}</div>"
                    },{field:'prd', title:'买方', width:250,
                        templet:"<div>{{d.prd.buyer}}</div>"
                    },{field:'prd', title:'订单总价', width:250,
                        templet:"<div>{{d.prd.totalprice}}</div>"
                    },{field:'prd', title:'订单创建时间', width:250,
                        templet:"<div>{{d.prd.createTime}}</div>"
                    },{field:'prd', title:'审批状态', width:250,
                        templet:"<div>{{d.prd.approvalstatus}}</div>"
                    }
                    ,{toolbar: '#barDemo',fixed:'right',title:'操作',width:250,align:'center'}
                ]
            ]

        });

        //每行的操作
        table.on('tool(demo)',function(obj){//tool是工具条事件，demo是table的lay-filter对应的值
            var row = obj.data;//获取每行的数据
            var layEvent =obj.event;//获取事件
            if(layEvent == "detail"){
                layIndex = layer.open({
                    type:1
                    ,content:$("#detail")
                    ,shade: [0.8, '#393D49']
                    ,area:['500px','400px']
                    ,success:function(){
                        console.log(row);
                        $("#dbookId").val(row.bookId);
                        $("#dbookName").val(row.bookName);
                        $("#dpublishId").val(row.publish.pubName);
                        $("#dcreateDate").val(row.createDate);
                        $("#ddemo1").attr('src','/demo/upimg/'+row.pic);
                    }
                });

            }
        });

        //加载下拉列表框
        $.ajax({
            url:'[[@{/bs/pubs}]]',
            type:'GET',
            dateType:'json',
            success:function(res){
                var content = "";
                $.each(res,function(i,v){
                    content += "<option value='"+v.pubId+"'>"+v.pubName+"</option>";
                });
                $("#poid").append(content);
                $("#spoid").append(content);
                form.render('select','dataFrm');
                form.render('select','searchFrm');
            }
        });

        //刷新多条件查询
        function refresh(){
            var sid = $("#sid").val();
            var swho = $("#swho").val();
            var schangedate = $("#schangedate").val();
            tableIndex.reload(//重载，where后面设置的是传给后台的参数
                {
                    where:{
                        id:sid,
                        who:swho,
                        changedate:schangedate
                    }
                    ,page:{
                        page:1,
                        limit:1
                    }
                    ,url:'[[@{/bankInfoController/selectAllBPI}]]'
                    ,method:'get'
                });
        }
        $("#doSearch").click(function(){
            refresh();
        });


    });
</script>