<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.fresh.mapper.AccountBankProcurementInfoDataMapper">
  <resultMap id="BaseResultMap" type="com.aaa.fresh.pojo.AccountBankProcurementInfoData">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="changeDate" jdbcType="TIMESTAMP" property="changedate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="bankId" jdbcType="VARCHAR" property="bankid" />
    <result column="poid" jdbcType="VARCHAR" property="poid" />
    <result column="VERSION" jdbcType="INTEGER" property="version" />
  </resultMap>

  <resultMap id="BPI_All_Info" type="com.aaa.fresh.pojo.AccountBankProcurementInfoData_vo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <association property="abd" javaType="com.aaa.fresh.pojo.AccountBankData">
      <id column="ID" jdbcType="VARCHAR" property="id" />
    </association>
    <association property="prd" javaType="com.aaa.fresh.pojo.ProcurementRequirementData">
      <id column="ID" jdbcType="VARCHAR" property="id" />
    </association>
    <association property="adapd" javaType="com.aaa.fresh.pojo.AccountingDocumentAuditingProcurementData">
      <id column="ID" jdbcType="VARCHAR" property="id" />
    </association>
  </resultMap>
  <!--<select id="getTotal_BPI" resultType="java.lang.Long">
    select count(*) from account_bank_procurement_info_data
    <trim prefix=" where " prefixOverrides="and">
      <if test="changedate != null">
        and changeDate = #{changedate}
      </if>
      <if test="remarks != null">
        and remarks = #{remarks}
      </if>
      <if test="bankid != null">
        and bankId = #{bankid}
      </if>
      <if test="poid != null">
        and poid = #{poid}
      </if>
      <if test="version != null">
        and VERSION = #{version}
      </if>
    </trim>
  </select>-->
  <select id="selectAll_BPI" resultMap="BPI_All_Info" parameterType="com.aaa.fresh.pojo.AccountBankProcurementInfoData_vo">
    select bpi.*,ab.*,pr.*,dap.*
    from account_bank_procurement_info_data bpi,
         account_bank_data ab,
         procurement_requirement_data pr,
         accounting_document_auditing_procurement_data dap
    where bpi.bankId = ab.ID
      and bpi.poid = pr.ID
      and dap.poid = pr.ID

  </select>

  <sql id="Base_Column_List">
    ID, changeDate, remarks, bankId, poid, VERSION
  </sql>
  <select id="selectByPrimaryKey_BPI" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from account_bank_procurement_info_data
    where ID = #{id}
  </select>

  <insert id="insert_BPI" keyColumn="ID" keyProperty="id" parameterType="com.aaa.fresh.pojo.AccountBankProcurementInfoData" useGeneratedKeys="true">
    insert into account_bank_procurement_info_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="changedate != null">
        changeDate,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="bankid != null">
        bankId,
      </if>
      <if test="poid != null">
        poid,
      </if>
      <if test="version != null">
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="changedate != null">
        #{changedate},
      </if>
      <if test="remarks != null">
        #{remarks},
      </if>
      <if test="bankid != null">
        #{bankid},
      </if>
      <if test="poid != null">
        #{poid},
      </if>
      <if test="version != null">
        #{version},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey_BPI" parameterType="com.aaa.fresh.pojo.AccountBankProcurementInfoData">
    update account_bank_procurement_info_data
    <set>
      <if test="changedate != null">
        changeDate = #{changedate},
      </if>
      <if test="remarks != null">
        remarks = #{remarks},
      </if>
      <if test="bankid != null">
        bankId = #{bankid},
      </if>
      <if test="poid != null">
        poid = #{poid},
      </if>
      <if test="version != null">
        VERSION = #{version},
      </if>
    </set>
    where ID = #{id}
  </update>

</mapper>