<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.fresh.mapper.AccountingDocumentAuditingProcurementDataMapper">
  <resultMap id="BaseResultMap" type="com.aaa.fresh.pojo.AccountingDocumentAuditingProcurementData">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="WHO" jdbcType="VARCHAR" property="who" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
    <result column="MAKE_DATE" jdbcType="TIMESTAMP" property="makeDate" />
    <result column="poid" jdbcType="VARCHAR" property="poid" />
    <result column="VERSION" jdbcType="INTEGER" property="version" />
  </resultMap>

  <resultMap id="DAP_All_Info" type="com.aaa.fresh.pojo.AccountingDocumentAuditingProcurementData_vo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <association property="prd" javaType="com.aaa.fresh.pojo.ProcurementRequirementData">
      <id column="ID" jdbcType="VARCHAR" property="id" />
    </association>
  </resultMap>
  <select id="getTotal_DAP" resultType="java.lang.Long">
    select count(*) from accounting_document_auditing_procurement_data
    <trim prefix=" where " prefixOverrides="and">
      <if test="who != null">
        and WHO = #{who,jdbcType=VARCHAR}
      </if>
      <if test="comments != null">
        and COMMENTS = #{comments,jdbcType=VARCHAR}
      </if>
      <if test="makeDate != null">
        and MAKE_DATE = #{makeDate,jdbcType=TIMESTAMP}
      </if>
      <if test="poid != null">
        and poid = #{poid,jdbcType=VARCHAR}
      </if>
      <if test="version != null">
        and VERSION = #{version,jdbcType=INTEGER}
      </if>
    </trim>
  </select>
  <select id="selectAll_DAP" resultMap="DAP_All_Info">
    select dap.*,pr.*
    from accounting_document_auditing_procurement_data dap,
    procurement_requirement_data pr
    where dap.poid = pr.ID
    limit #{page},#{size}
  </select>

  <sql id="Base_Column_List">
    ID, WHO, COMMENTS, MAKE_DATE, poid, VERSION
  </sql>
  <select id="selectByPrimaryKey_DAP" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from accounting_document_auditing_procurement_data
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <insert id="insert_DAP" keyColumn="ID" keyProperty="id" parameterType="com.aaa.fresh.pojo.AccountingDocumentAuditingProcurementData" useGeneratedKeys="true">
    insert into accounting_document_auditing_procurement_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="who != null">
        WHO,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
      <if test="makeDate != null">
        MAKE_DATE,
      </if>
      <if test="poid != null">
        poid,
      </if>
      <if test="version != null">
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="who != null">
        #{who,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="makeDate != null">
        #{makeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="poid != null">
        #{poid,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>



  <resultMap id="procurementItemDataMap" type="com.aaa.fresh.pojo.ProcurementItemData">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="product" jdbcType="VARCHAR" property="product" />
    <result column="quatity" jdbcType="INTEGER" property="quatity" />
    <result column="unitprice" jdbcType="DOUBLE" property="unitprice" />
    <result column="procurement_requirement" jdbcType="VARCHAR" property="procurementRequirement" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="eid" jdbcType="VARCHAR" property="eid" />
  </resultMap>
  <update id="update_PRD">
    update procurement_item_data
    set name = #{name},product = #{product},quatity = #{quatity},unitprice=#{unitprice}
        procurement_requirement=#{procurement_requirement},status=#{status},version=#{version},eid=#{eid}
    where id = #{id}
  </update>

</mapper>