<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
</head>
<body>
<div id="detail" style="display: none;padding: 20px;" th:fragment="detail_common">
<form class="layui-form">
    <div class="layui-form-item" style="display: none;" id="fid">
        <label class="layui-form-label">图书编号</label>
        <div class="layui-input-block">
            <input id="dbookId" type="text" name="dbookId" readonly class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图书名称</label>
        <div class="layui-input-block">
            <input type="text" id="dbookName" name="bookName"  readonly   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">出版日期</label>
        <div class="layui-input-block">
            <input type="text" id="dcreateDate" name="createDate" required readonly  lay-verify="required"  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" style="display: inline-block;">出版社</label>
        <div class="layui-input-block">
        <input type="text" id="dpublishId" name="publishId"  readonly  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">宣传图片</label>
        <div class="layui-input-block">
            <img class="layui-upload-img" id="ddemo1" style="width:50px;height:50px;border-radius: 25px; text-align: center;">
        </div>
    </div>
</form>
</div>
</body>
</html>